{% extends '/layout.html' %}

{% block specific_header %}
<script src="/static/js/goods.js" defer></script>
<script src="/static/js/control.js" defer></script>
<style>
    {% if current_category %}
        .mobile_bottom_categories_button a {color: #0095da;}
        .mobile_bottom_categories_button .mobile_menu_bottom_item_icon i {color: #0095da;}
    {% else %}
        .bottom_item_home_mobile a {color: #0095da;}
        .bottom_item_home_mobile .mobile_menu_bottom_item_icon i {color: #0095da;}
    {% endif %}
</style>
{% endblock specific_header %}

{% block body %}
<main>
    <div class="container">
        <div class="product-grid">
            {% if not goods_list %}
            <h3>Товары не найдены</h3>
            {% endif %}
            {% for good in goods_list %}
            <div class="product" id="product_{{ good.id }}"
                onmouseenter="start_hover({{ good.id }});" onmouseleave="end_hover({{ good.id }});">
                <img src="{% if good.photos %}/static/{{ good.photos[0].picture }}{% endif %}"
                     alt="Нет картинки">
                <h2>{{ good.name }}</h2>
                <p class="price">${{ good.price }}</p>
                <p class="description" style="display: none;">{{ good.description[0:100] }}....</p>
                    <p class="existence">
                        {% if good.existence == 1 %}
                            <span class="in-stock">
                                <i class="bi bi-check-circle-fill"></i> Є в наявності
                            </span>
                        {% else %}
                            <span class="out-of-stock">
                                <i class="bi bi-x-circle-fill"></i> Немає в наявності
                            </span>
                        {% endif %}
                    </p>
                <button class="btn_buy"><i class="bi bi-cart3"></i>Купить</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    {{ pagination | safe }}
</main>


{% endblock body %}
