{% extends '/public/layout.html' %}

{% block specific_header %}
<script src="/static/js/goods.js" defer></script>
<script src="/static/js/control.js" defer></script>
<style>
    {% if current_category %}
        .mobile_bottom_categories_button a {color: #0095da;}
        .mobile_bottom_categories_button .mobile_menu_bottom_item_icon i {color: #0095da;}
    {% else %}
        .bottom_item_home_mobile a {color: #0095da;}
        .bottom_item_home_mobile .mobile_menu_bottom_item_icon i {color: #0095da;}
    {% endif %}
</style>
{% endblock specific_header %}

{% block body %}
<main>
    <div class="container">
        <div class="product-grid">
            {% if not goods_list %}
            <h3>Товары не найдены</h3>
            {% endif %}
            {% for good in goods_list %}
            <div class="product" id="product_{{ good.id }}" onclick="location.href='good_page/{{ good.id }}'"
                 onmouseenter="start_hover({{ good.id }});" onmouseleave="end_hover({{ good.id }});">
                <img src="{% if good.photos %}/static/{{ good.photos[-1].picture }}{% else %}/static/images/default-image.jpg{% endif %}"
                     alt="Нет картинки">
                <h2>{{ good.name }}</h2>
                Код товару: {{ good.id }}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">{{ good.category.name }}</li>
                    <li class="breadcrumb-item">{{ good.section.name }}</li>
                </ul>
                <p class="price">{{ good.price }} грн</p>
                <p class="description" style="display: none; font-family: bootstrap-icons; margin-top: -5px;">
                    {{ good.short_description }}....</p>
                <p class="existence">
                    {% if good.existence == 1 %}
                    <span class="in-stock">
                                <i class="bi bi-check-circle-fill"></i> Є в наявності
                            </span>
                    {% else %}
                    <span class="out-of-stock">
                                <i class="bi bi-x-circle-fill"></i> Немає в наявності
                            </span>
                    {% endif %}
                </p>
                <button class="btn_buy" onclick="event.stopPropagation(); location.reload();">
                    <i class="bi bi-cart3"></i>Купити</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    {{ pagination | safe }}
</main>


{% endblock body %}
