<!doctype html>
<html lang="en">
<!-- Голова -->
<head>

    <meta charset="UTF-8">
    <title>Добавить фото</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/fav.ico">
    <!-- CSS -->
    <link rel="preload" href="/static/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/static/css/bs.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/static/css/bootstrap-icons.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/static/css/cropper.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/css/cropper.min.css"/>
    </noscript>
    <!-- JS -->
    <script src="/static/js/jquery-3.6.0.min.js" defer></script>
    <script src="/static/js/bootstrap.bundle.min.js" defer></script>
    <script src="/static/js/jquery.cookie.min.js" defer></script>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/control.js" defer></script>
    <script src="/static/js/cropper.min.js" defer></script>
    <script src="/static/js/picture_cropping.js" defer></script>
    <script src="/static/js/zup.js" defer></script>
    <script src="/static/js/goods.js" defer></script>
    <script src="/static/js/lightbox.js" defer></script>
    <script src="/static/js/lightbox.min.js" defer></script>


    <!-- В этот блок подключаем с той стороны например другого HTML: скрипты, стили, шрифты, и так далее -->
    {% block specific_header %} {% endblock specific_header %}
</head>

<!-- Тело -->
<body>
<!-- В этот блок подключаем с той стороны например другого Специальные элементы -->
{% block special_elements %}{% endblock special_elements %}

<section class="container">

    <!-- Основной блок тела с той стороны -->
    {% block body %}{% endblock body %}
    {% block login %}{% endblock login %}

</section>

</body>
</html>