{% extends '/control/layout.html' %}

{% block login %}
<div class="center-content" style="align-items: center;">
    <div class="row">
        <div class="col-auto">
            <div class="border">
                <div class="bg-light p-2 container-fluid">
                    <h5>Вход в систему</h5>
                </div>
                <form action="login" method="POST" role="form">
                    <div class="p-3">
                        <div class="mb-3">
                            <label for="login_client_name" class="form-label">Имя клиента</label>
                            <input type="text" class="form-control" id="login_client_name" name="employee_name">
                        </div>
                        <div class="mb-3">
                            <label for="login_password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="login_password" name="password">
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <ul>
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="border-top p-2 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock login %}