<footer>

    <div class="container_father_footer">
        <div class="container_footer">
            <nav class="#">
                <h3 class="footer">Інформація</h3>
                <ul class="">
                    <li><a href="#" title="" target="_blank">Доставка</a></li>
                    <li><a href="#" title="" target="_blank">Кредит</a></li>
                    <li><a href="#" title="" target="_blank">Гарантія та повернення</a></li>
                    <li><a href="#" title="" target="_blank">Контакти</a></li>
                    <li><a href="#" title="" target="_blank">Відгуки </a></li>
                    <li><a href="#" title="" target="_blank">Цікаві статті </a></li>
                </ul>

            </nav>
        </div>

        <div class="container_footer">
            <nav class="footer_catalog">
                <h3 class="footer">Каталог</h3>
                <ul class="">
                    <li><a href="#" title="" target="_blank">Комп'ютери</a></li>
                    <li><a href="#" title="" target="_blank">Телефони</a></li>
                    <li><a href="#" title="" target="_blank">Планшети</a></li>
                    <li><a href="#" title="" target="_blank">Аксесуари</a></li>
                    <li><a href="#" title="" target="_blank">Хіти продаж</a></li>
                    <li><a href="#" title="" target="_blank">Акції</a></li>
                </ul>

            </nav>
        </div>

        <div class="container_footer">
            <nav class="footer_contacts">
                <h3 class="footer">Контакти</h3>
                <p class="location">Україна, м. Одеса</p>
                <p class="telephone_number">Наші телефони:</p>
                <ul class="phone_numbers">
                    <li>+380 48 123 4567</li>
                    <li>+380 48 765 4321</li>
                </ul>
                <p class="work_graphic">Графік роботи:</p>
                <ul class="graphic_of_work">
                    <li>Пн-Пт: 09:30 - 18:00</li>
                    <li>Сб-Нд: 10:30 - 17:00</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer_title">
        <div class="container">
            <div class="row">
                <div>Израильская доска бесплатных объявлений ШАНС © 2005 — {{ current_year }}</div>
            </div>
        </div>
    </div>
</footer>


<script>

</script>