<footer>
    <div class="footer_title">
    <div class="container">
      <div class="row">
        <div>Израильская доска бесплатных объявлений ШАНС © 2005 — {{ current_year }}</div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="row">

        <ul class="">
          <li><a href="#" title="" target="_blank">Политика конфиденциальности</a></li>
          <li><a href="#" title="" target="_blank">Связь с редакцией</a></li>
          <li><a href="#" title="" target="_blank">Реклама в Новостях</a></li>
          <li><a href="#" title="" target="_blank">Условия использования информации</a></li>
          <li><a href="/rules" title="" target="_blank">Правила размещения объявлений</a></li>
            <li><a href="#" title="" target="_blank">Связаться с нами</a></li>
        </ul>

    </nav>
  </div>

</footer>



<script>

</script>