<div class="top-header">
    <div class="container">
        <div class="column d-flex justify-content-between">
            <div class="top_menu">
                <ul class="bread_crumbs" style="display: flex; flex-direction: row;">
                    <li><a href="#" title="" target="_blank">Доставка</a></li>
                    <li><a href="#" title="" target="_blank">Кредит</a></li>
                    <li><a href="#" title="" target="_blank">Гарантія та повернення</a></li>
                    <li><a href="#" title="" target="_blank">Контакти</a></li>
                    <li><a href="#" title="" target="_blank">Відгуки </a></li>
                    <li><a href="#" title="" target="_blank">Цікаві статті </a></li>
                    <li><a href="/control/zup" title="" target="_blank">Добавить фото</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="shadow_block">
    <div class="container">
        <div class="row justify-content-between">
            <div class="column mobile_menu_button"><i class="bi bi-list"></i></div>
            <div class="column col-auto">
                <h1>
                    <a href="/goods" style="display:block;">
                        <img src="/static/images/logos/logo1.svg" alt="#" width="126" height="100">
                    </a>
                </h1>
            </div>
            <div class="column col-auto col-custom">
                <ul class="list-inline top-menu">
                    <li class="list-inline-item drop-menu">
                        <a href="javascript:" class="btn btn-primary open_categories_menu">
                            <i class="bi bi-bar-chart-steps closed_menu_i"></i>
                            <i class="bi bi-x-lg opened_menu_i"></i>
                            <span class="text-drop-menu">Все категории</span>
                        </a>
                        <div class="drop-content">
                            <div class="container">
                                <div class="row">
                                    {% for category in categories %}
                                    <div class="column col-3 col-xs-6">
                                        <a href="/{{ category.folder }}/" class="title-list">{{ category.name }}</a>
                                        {% for section in sections[category.id] %}
                                        <a href="/{{ category.folder }}/{{ section.folder }}/">{{ section.name }}</a>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="back_holder"></div>
                    </li>
                    <li class="list-inline-item search">
                        <div class="input-group search-city">
                            <div class="search_input_div">
                                <input type="text" class="form-control" placeholder="Поиск товара" aria-label=""
                                       id="search_request" value="{% if search_filter %}{{ search_filter }}{% endif %}"
                                       onkeydown="if(event.keyCode===13) {search();}">
                                <button class="search_clear_button" onclick="clear_search()" title="Очистить текст">
                                    <i class="fa fa-light fa-xmark"></i></button>

                                <button type="button" class="btn search_button" onclick="search();"
                                        title="Поиск"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                        <div>
                            <div class="close_search">Отмена</div>
                        </div>
                    </li>
                    <li class="list-inline-item filter">
                        <div class="user_panel">
                            <ul>
                                <li class="list-inline-item search_block"><a href="#" aria-label="Поиск">
                                    <div>
                                        <div class="user_panel_icon"><i class="bi bi-search"></i></div>
                                        <div class="user_panel_text">Поиск</div>
                                    </div>
                                </a>
                                </li>
                                <li class="list-inline-item item_favorite"><a href="/shop_cart" aria-label="Корзина">
                                    <div>
                                        <div class="user_panel_icon"><i class="bi bi-cart3"></i></div>
                                        <div class="user_panel_text">Корзина</div>
                                    </div>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>

<div class="mobile_menu">
    <div class="mobile_menu_inner">
        <div class="mobile_menu_block_header">
            <div><h1><a href="/ads" class="gradient-text">
                <img src="/static/images/logos/logo1.svg"
                     alt="Доска объявлений"
                     width="126" height="30"></a></h1></div>
        </div>

        <div class="mobile_menu_block" style="">
            <div><a href="/ads"><i class="bi bi-house-door"></i><span>Главная</span></a></div>
            <div>
                <div class="mobile_menu_categories_button"><span><i class="bi bi-bar-chart-steps">

                </i>Все категории</span><i class="bi bi-chevron-right"></i></div>
                <div class="mobile_categories_section">
                    <div class="mobile_categories_section_item_back_button">
                        <i class="bi bi-chevron-left"></i>Назад
                    </div>
                    {% for category in categories %}
                    <div class="mobile_categories_section_item">
                        <div class="mobile_categories_section_item_title">{{ category.name }}
                            <i class="bi bi-chevron-right"></i></div>
                        <div class="mobile_categories_section_item_subcategories">
                            <div class="mobile_categories_section_item_subcategories_back_button">
                                <i class="bi bi-chevron-left"></i>Назад
                            </div>
                            <div class="mobile_categories_section_item_subcategories_item_title">
                                <a href="/{{ category.folder }}/">{{ category.name }}</a></div>
                            {% for section in sections[category.id] %}
                            <div class="mobile_categories_section_item_subcategories_item">
                                <a href="/{{ category.folder }}/{{ section.folder }}/">{{ section.name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div>
                <div class="mobile_menu_profile_button"><span><i class="bi bi-person">

                </i>Профиль <span class="badge d-none"></span></span><i class="bi bi-chevron-right"></i></div>

            </div>

            <div><a href="/login"><i class="bi bi-person"></i><span>Войти</span></a></div>


            <div><a href="/favorites"><i class="bi bi-heart"></i><span>Избранное</span></a></div>
            <div><a href="/create_ad"><i class="bi bi-plus-circle"></i><span>Добавить объявление</span></a></div>
        </div>

        <div class="mobile_menu_block" style="border-top:1px solid #eee;">
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-clouds-sun fa-fw me-2"></i>Доставка</a></div>
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-clouds-sun fa-fw me-2"></i>Кредит</a></div>
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-theater-masks fa-fw me-2"></i>Гарантія та повернення</a></div>
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-gavel fa-fw me-2"></i>Контакти</a></div>
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-clipboard-list fa-fw me-2"></i>Відгуки</a></div>
            <div><a class="" href="#" target="_blank"><i
                    class="fal fa-gift-card fa-fw me-2"></i>Цікаві статті</a></div>
        </div>

        <div class="mobile_menu_block" style="border-top:1px solid #eee;">
            <div>
                <div>© 2023-{{ current_year }} Інтернет-магазин AnastasiaShop.ua</div>
            </div>
            <div style="font-weight:bold;font-size:18px;"><a href="#">Контакты</a>
                <div style="font-size:12px;">+380 48 123 4567</div>
                <div style="font-size:12px;">+380 48 123 4567</div>
            </div>
            <div>с 08:00 до 16:00, суббота - выходной</div>
            <div>
                <div>InterLink Info Ltd</div>
                <div style="font-size:12px;">Разработчик и владелец сайта.</div>
            </div>
        </div>
    </div>
    <div class="close_mobile_menu_button"><i class="bi bi-x-lg"></i></div>
</div>
<div class="background-holder"></div>

<div class="mobile_menu_bottom">
    <div class="bottom_item_home_mobile">
        <a href="/ads">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-home"></i></div>
            <div class="mobile_menu_bottom_item_text">Главная</div>
        </a>
    </div>
    <div class="mobile_bottom_categories_button">
        <a href="#">
            <div class="mobile_menu_bottom_item_icon"><i class="bi bi-bar-chart-steps"></i></div>
            <div class="mobile_menu_bottom_item_text">Категории</div>
        </a>
    </div>
    <div class="bottom_item_add_mobile">
        <a href="/create_ad">
            <div class="mobile_menu_bottom_item_icon"><i class="bi bi-cart3"></i></div>
            <div class="mobile_menu_bottom_item_text">Корзина</div>
        </a>
    </div>
    <div class="bottom_item_favorites_mobile">
        <a href="/favorites">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-heart"></i></div>
            <div class="mobile_menu_bottom_item_text">Избранное</div>
            <div class="badge badge_favorites d-none"></div>
        </a>
    </div>
</div>

<div id="profile_bottom-sheet" class="bottom_sheet">
    <div class="bottom_sheet_handler"></div>
    <div class="bottom_sheet_content">
        <div class="card-body">

            <div class="card_user_avatar">  </div>
            <div class="card_user_name">  </div>
            <div class="card_user_email"><i class="bi bi-envelope"></i>

                <i class="bi bi-patch-check-fill"></i>
                 else
                <i class="bi bi-patch-minus"></i>
                <button type="button" onclick="profile_confirm_email();"
                        class="btn btn-primary">Подтвердить
                </button>
                 endif
                <div class="alert alert-danger ms-3 me-3" role="alert" id="profile_confirm_email_alert"
                     style="display: none;"></div>
            </div>
            <div class="card_user_phone">
                <i class="bi bi-telephone"></i> phone_number

                При авторизации через google, номер телефона отсутствует  endif
            </div>
            <div>
                <a class="nav-link" href="url_for('public.edit_profile')">Редактировать
                    профиль</a>
            </div>
        </div>
        <div class="card-header d-flex justify-content-between">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link"
                                        href="url_for('public.my_ads')">Мои объявления
                    <div class="badge">
                        warning_violation_amount
                    </div>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="url_for('public.create_ad')">
                    Добавить объявление</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>