<div class="top-header">
    <div class="container">
        <div class="column d-flex justify-content-between">
            <div class="top_menu">

            </div>
        </div>
    </div>
</div>

<header class="shadow_block">
    <div class="container">
        <div class="row justify-content-between">
            <div class="column mobile_menu_button"><i class="bi bi-list"></i></div>
            <div class="column col-auto">
                <h1>
                    <a href="/goods" style="display:block;">
                        <img src="/static/images/logos/logo1.svg" alt="#" width="126" height="100">
                    </a>
                </h1>
            </div>
            <div class="column col-auto col-custom">
                <ul class="list-inline top-menu">
                    <li class="list-inline-item drop-menu">
                        <a href="javascript:" class="btn btn-primary open_categories_menu">
                            <i class="bi bi-bar-chart-steps closed_menu_i"></i>
                            <i class="bi bi-x-lg opened_menu_i"></i>
                            <span class="text-drop-menu">Все категории</span>
                        </a>
                        <div class="drop-content">
                            <div class="container">
                                <div class="row">
                                    {% for category in categories %}
                                    <div class="column col-3 col-xs-6">
                                        <a href="/{{ category.folder }}/" class="title-list">{{ category.name }}</a>
                                        {% for section in sections[category.id] %}
                                        <a href="/{{ category.folder }}/{{ section.folder }}/">{{ section.name }}</a>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="back_holder"></div>
                    </li>
                    <li class="list-inline-item search">
                        <div class="input-group search-city">
                            <div class="search_input_div">
                                <input type="text" class="form-control" placeholder="Поиск товара" aria-label=""
                                       id="search_request" value="{% if search_filter %}{{ search_filter }}{% endif %}"
                                       onkeydown="if(event.keyCode===13) {set_ads_filter();}">
                                <button class="search_clear_button" onclick="clear_search()" title="Очистить текст">
                                    <i class="fa fa-light fa-xmark"></i></button>

                                <button type="button" class="btn search_button" onclick="set_ads_filter();"
                                        title="Поиск"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                        <div>
                            <div class="close_search">Отмена</div>
                        </div>
                    </li>
                    <li class="list-inline-item filter">
                        <div class="user_panel">
                            <ul>
                                <li class="list-inline-item search_block"><a href="#" aria-label="Поиск">
                                    <div>
                                        <div class="user_panel_icon"><i class="bi bi-search"></i></div>
                                        <div class="user_panel_text">Поиск</div>
                                    </div>
                                </a>
                                </li>
                                <li class="list-inline-item item_favorite"><a href="/shop_cart" aria-label="Корзина">
                                    <div>
                                        <div class="user_panel_icon"><i class="bi bi-cart3"></i></div>
                                        <div class="user_panel_text">Корзина</div>
                                    </div>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>

<div class="mobile_menu">
    <div class="mobile_menu_inner">
        <div class="mobile_menu_block_header">
            <div><h1><a href="/ads" class="gradient-text">
                <img src="/static/images/logos/shans_30.gif"
                     alt="Доска объявлений"
                     srcset="/static/images/logos/shans_30.gif 1x, /static/images/logos/shans_30.gif 1.5x"
                     width="126" height="30"></a></h1></div>
        </div>

        <div class="mobile_menu_block" style="">
            <div><a href="/ads"><i class="bi bi-house-door"></i><span>Главная</span></a></div>
            <div>
                <div class="mobile_menu_categories_button"><span><i class="bi bi-bar-chart-steps">

                </i>Все категории</span><i class="bi bi-chevron-right"></i></div>
                <div class="mobile_categories_section">
                    <div class="mobile_categories_section_item_back_button">
                        <i class="bi bi-chevron-left"></i>Назад
                    </div>
                    {% for category in categories %}
                    <div class="mobile_categories_section_item">
                        <div class="mobile_categories_section_item_title">{{ category.name }}
                            <i class="bi bi-chevron-right"></i></div>
                        <div class="mobile_categories_section_item_subcategories">
                            <div class="mobile_categories_section_item_subcategories_back_button">
                                <i class="bi bi-chevron-left"></i>Назад
                            </div>
                            <div class="mobile_categories_section_item_subcategories_item_title">
                                <a href="/{{ category.folder }}/">{{ category.name }}</a></div>
                            {% for section in sections[category.id] %}
                            <div class="mobile_categories_section_item_subcategories_item">
                                <a href="/{{ category.folder }}/{{ section.folder }}/">{{ section.name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if authorize %}
            <div>
                <div class="mobile_menu_profile_button"><span><i class="bi bi-person">

                </i>Профиль <span class="badge d-none"></span></span><i class="bi bi-chevron-right"></i></div>

            </div>
            {% else %}
            <div><a href="/login"><i class="bi bi-person"></i><span>Войти</span></a></div>
            {% endif %}

            <div><a href="/favorites"><i class="bi bi-heart"></i><span>Избранное</span></a></div>
            <div><a href="/create_ad"><i class="bi bi-plus-circle"></i><span>Добавить объявление</span></a></div>
        </div>

        <div class="mobile_menu_block" style="border-top:1px solid #eee;">
            <div><a class="" href="https://israelinfo.co.il"
                    target="_blank"><img alt="IsraelInfo.co.il" width="16" class="me-1" height="16"
                                         src="/static/images/logos/ii-logo.svg"><b>IsraelInfo</b></a></div>
            <div><a class="" href="https://news.israelinfo.co.il" target="_blank"><i
                    class="fal fa-clouds-sun fa-fw me-2"></i>Новости Израиля</a></div>
            <div><a class="" href="https://pogoda.israelinfo.co.il" target="_blank"><i
                    class="fal fa-clouds-sun fa-fw me-2"></i>Погода в Израиле</a></div>
            <div><a class="" href="https://bravo.israelinfo.co.il" target="_blank"><i
                    class="fal fa-theater-masks fa-fw me-2"></i>Касса BRAVO!</a></div>
            <div><a class="" href="https://pravo.israelinfo.co.il" target="_blank"><i
                    class="fal fa-gavel fa-fw me-2"></i>Закон и право</a></div>
            <div><a class="" href="https://doska.israelinfo.co.il" target="_blank"><i
                    class="fal fa-clipboard-list fa-fw me-2"></i>Объявления</a></div>
            <div><a class="" href="https://potrebitel.israelinfo.co.il" target="_blank"><i
                    class="fal fa-gift-card fa-fw me-2"></i>Потребитель</a></div>
        </div>

        <div class="mobile_menu_block" style="border-top:1px solid #eee;">
            <div><a href="https://israelinfo.co.il/privacy_policy" title=""
                    target="_blank">Политика конфиденциальности</a></div>
            <div><a href="https://israelinfo.co.il/contact" title=""
                    target="_blank">Связь с редакцией</a></div>
            <div><a href="https://israelinfo.co.il/reklama" title=""
                    target="_blank">Реклама в Новостях</a></div>
            <div><a href="https://israelinfo.co.il/conditions" title=""
                    target="_blank">Условия использования информации</a></div>
            <div><a href="https://israelinfo.co.il/pirsum" title=""
                    target="_blank">פרסמו אצלנו</a></div>
        </div>

        <div class="mobile_menu_block" style="border-top:1px solid #eee;">
            <div>
                <div>Израильская доска бесплатных объявлений ШАНС © 2005 — 2023</div>
            </div>
            <div style="font-weight:bold;font-size:18px;"><a href="#">072-2753222</a>
                <div style="font-size:12px;">По вопросам технической работы сайта</div>
            </div>
            <div>с 08:00 до 16:00, суббота - выходной</div>
            <div>
                <div>InterLink Info Ltd</div>
                <div style="font-size:12px;">Разработчик и владелец сайта.</div>
            </div>
        </div>
    </div>
    <div class="close_mobile_menu_button"><i class="bi bi-x-lg"></i></div>
</div>
<div class="background-holder"></div>

<div class="mobile_menu_bottom">
    <div class="bottom_item_home_mobile">
        <a href="/ads">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-home"></i></div>
            <div class="mobile_menu_bottom_item_text">Главная</div>
        </a>
    </div>
    <div class="mobile_bottom_categories_button">
        <a href="#">
            <div class="mobile_menu_bottom_item_icon"><i class="bi bi-bar-chart-steps"></i></div>
            <div class="mobile_menu_bottom_item_text">Категории</div>
        </a>
    </div>
    <div class="bottom_item_add_mobile">
        <a href="/create_ad">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-plus-circle"></i></div>
            <div class="mobile_menu_bottom_item_text">Добавить</div>
        </a>
    </div>
    <div class="bottom_item_favorites_mobile">
        <a href="/favorites">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-heart"></i></div>
            <div class="mobile_menu_bottom_item_text">Избранное</div>
            <div class="badge badge_favorites d-none"></div>
        </a>
    </div>
    <div>
        {% if authorize %}
        <div class="bottom_item_profile_mobile">
            <div class="mobile_menu_bottom_item_icon">
                <div class="card_user_avatar_mobile">{{ client_name[0] }}</div>
            </div>
            <div class="mobile_menu_bottom_item_text">Профиль</div>
            <div class="badge d-none"></div>
        </div>
        {% else %}
        <a href="/login">
            <div class="mobile_menu_bottom_item_icon"><i class="fas fa-user-circle"></i></div>
            <div class="mobile_menu_bottom_item_text">Войти</div>
        </a>
        {% endif %}

    </div>
</div>

<div id="profile_bottom-sheet" class="bottom_sheet">
    <div class="bottom_sheet_handler"></div>
    <div class="bottom_sheet_content">
        <div class="card-body">

            <div class="card_user_avatar">{{ client_name[0] }}</div>
            <div class="card_user_name">{{ client_name }}</div>
            <div class="card_user_email"><i class="bi bi-envelope"></i>{{ client_email }}
                {% if (google_client == 1) or (verified_email == 1) %}
                <i class="bi bi-patch-check-fill"></i>
                {% else %}
                <i class="bi bi-patch-minus"></i>
                <button type="button" onclick="profile_confirm_email();"
                        class="btn btn-primary">Подтвердить
                </button>
                {% endif %}
                <div class="alert alert-danger ms-3 me-3" role="alert" id="profile_confirm_email_alert"
                     style="display: none;"></div>
            </div>
            <div class="card_user_phone">
                <i class="bi bi-telephone"></i>{{ phone_number }}
                {% if google_client and not phone_number %}
                При авторизации через google, номер телефона отсутствует {% endif %}
            </div>
            <div>
                <a class="nav-link" href="url_for('public.edit_profile')">Редактировать
                    профиль</a>
            </div>
        </div>
        <div class="card-header d-flex justify-content-between">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link"
                                        href="url_for('public.my_ads')">Мои объявления
                    <div class="badge {% if warning_violation_amount == 0 %}d-none{% endif %}">
                        {{ warning_violation_amount }}
                    </div>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="url_for('public.create_ad')">
                    Добавить объявление</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>